[Unit]
Description=Gunicorn instance to serve wordsearch
After=network.target

[Service]
Restart=on-failure
RestartSec=3s
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/backend
ExecStart=/usr/local/bin/gunicorn --workers 4 --bind 0.0.0.0:5000 -m 007 main:api

[Install]
WantedBy=multi-user.target
